@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
.bg-fixed {
  position: relative; /* Positioning context for pseudo-element */
  min-height: 100vh; /* Makes sure the background covers the entire screen */
}

.bg-fixed::before {
  content: ""; /* Empty content for the background image */
  background-image: url("../Assets/images/bgimage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* Ensures the image stays fixed */
  position: absolute; /* Positioning the background */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* filter: blur(3px); Apply blur effect to the background image */
  z-index: -1; /* Send the background behind the content */
}

/* Example text with moving animation */
#moving-text {
  overflow: hidden; /* Hide overflow to create a seamless look */
  white-space: nowrap;
}

.moving-con {
  display: inline-block;
  white-space: nowrap;
  animation: movingIcon 7s linear infinite;
}

@keyframes movingIcon {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Keyframes for the individual letter wave animation */
@keyframes wave {
  0% {
    transform: translateY(0); /* Initial position */
  }
  50% {
    transform: translateY(-15px); /* Wave up */
  }
  100% {
    transform: translateY(0); /* Back to initial position */
  }
}

/* Apply the wave animation to each letter */
.animate-wave {
  display: inline-block;
  animation: wave 1.5s ease-in-out infinite; /* Loop the wave animation */
}

/* Spinner animation for the circular loader */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
}

.neon {
  text-shadow: 0 0 2px #00ffff, 0 0 1px #00ffff, 0 0 4px #00ffff,
    0 0 60px #00ffff, 0 0 50px #00ffff;
}
.neontext {
  text-shadow: 0 0 2px #000000, /* Light glow effect */ 0 0 1px #000000,
    /* Slightly stronger glow */ 0 0 10px #000000,
    /* Stronger glow */ 0 0 60px #000000,
    /* Very strong glow */ 0 0 40px #000000; /* Additional glow */
}
