@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
.bg-fixed {
  background-image: url('/src/Assets/images/animebg.webp'); /* Ensure the path is correct */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* Ensures the image stays fixed while the content scrolls */
}


/* @keyframes backgroundMove {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
} */


/* Example text with moving animation */
#moving-text {
  overflow: hidden; /* Hide overflow to create a seamless look */
  white-space: nowrap;
}

.moving-con {
  display: inline-block;
  white-space: nowrap;
  animation: movingIcon 7s linear infinite;
}

@keyframes movingIcon {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Keyframes for the individual letter wave animation */
@keyframes wave {
  0% {
    transform: translateY(0); /* Initial position */
  }
  50% {
    transform: translateY(-15px); /* Wave up */
  }
  100% {
    transform: translateY(0); /* Back to initial position */
  }
}

/* Apply the wave animation to each letter */
.animate-wave {
  display: inline-block;
  animation: wave 1.5s ease-in-out infinite; /* Loop the wave animation */
}

/* Spinner animation for the circular loader */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
}

.neon {
  text-shadow: 0 0 2px #00FFFF, 0 0 1px #00FFFF, 0 0 4px #00FFFF, 
               0 0 60px #00FFFF, 0 0 50px #00FFFF;
}